@keyframes shimmer {
  0% {
    opacity: 0.6;
    transform: scaleX(1);
  }
  100% {
    opacity: 1;
    transform: scaleX(0.98);
  }
}
@keyframes dataLoad {
  0%,
  100% {
    opacity: 0.6;
    transform: scaleX(0.8);
  }
  50% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes complexDataLoad {
  0%,
  100% {
    opacity: 0.5;
    transform: scaleX(0.7);
  }
  50% {
    opacity: 1;
    transform: scaleX(1);
  }
}
